<app-navbar></app-navbar>
<app-hero [(start)]="isStarted"></app-hero>
<ng-container *ngIf="isStarted">
  <app-categories [(category)]="selectedCategory"></app-categories>
</ng-container>
<ng-container *ngIf="selectedCategory">
  <app-levels
    [(level)]="selectedLevel"
    [category]="selectedCategory"
  ></app-levels>
</ng-container>
<ng-container *ngIf="selectedLevel">
  <app-guide [category]="selectedCategory" [level]="selectedLevel"></app-guide>
</ng-container>
<router-outlet></router-outlet>
