<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Hero -->
<app-hero [(start)]="isStarted"></app-hero>
<!-- Categories -->
<ng-container *ngIf="isStarted">
  <app-categories [(category)]="selectedCategory"></app-categories>
</ng-container>
<!-- Levels -->
<ng-container *ngIf="selectedCategory">
  <app-levels
    [(level)]="selectedLevel"
    [category]="selectedCategory"
  ></app-levels>
</ng-container>
<!-- Guide -->
<ng-container *ngIf="selectedLevel">
  <app-guide
    [category]="selectedCategory"
    [level]="selectedLevel"
    [(final)]="isFinal"
  ></app-guide>
</ng-container>
<!-- Final -->
<ng-container *ngIf="isFinal">
  <app-final></app-final>
</ng-container>
<router-outlet></router-outlet>
