<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Hero -->
<app-hero [(start)]="isStarted"></app-hero>
<!-- Categories -->
<app-categories
  *ngIf="isStarted"
  [(category)]="selectedCategory"
></app-categories>
<!-- Levels -->
<app-levels
  *ngIf="selectedCategory"
  [(level)]="selectedLevel"
  [category]="selectedCategory"
></app-levels>
<!-- Guide -->
<app-guide
  *ngIf="selectedLevel"
  [category]="selectedCategory"
  [level]="selectedLevel"
  [(final)]="isFinal"
></app-guide>
<!-- Final -->
<app-final *ngIf="isFinal"></app-final>
<router-outlet></router-outlet>
